<html><head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">

<style type="text/css">
td {border-top:solid windowtext 1.0pt; border-left:solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt;}

</style>

<style type="text/css">
.no-border { border: none; }
</style>

</head>
<css>

</css>
<body>
<table border=0 cellpadding=0 cellspacing=3 style='font-size:10; font-family:"Tahoma"'>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##113</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##119</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##101</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##114</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##116</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##121</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##117</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##105</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>ESC</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##265</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##269</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##270</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##271</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##272</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##273</div></td>
<td rowspan="2" style='overflow:hidden; font-size:12;'>##276</td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##65</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##66</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##67</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##68</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##111</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##112</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##91</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##93</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##287</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##266</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##267</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##268</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##294</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##296</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##274</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##97</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##115</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##100</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##102</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##103</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##104</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##106</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##107</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>Касса</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>Спра вочник</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##298</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##299</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##293</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##292</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##295</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##275</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##70</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##69</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##73</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##74</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##75</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##108</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##59</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##39</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Ctrl</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Alt</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Shift</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>7</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>8</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>9</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>+</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>*</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##122</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##120</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##99</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##118</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##98</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##110</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##109</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##44</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Вставка</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Забой</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Удалить</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>4</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>5</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>6</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>-</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>/</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##75</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##76</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##77</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##78</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##79</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##80</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##81</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##46</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Стр. вниз</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Вверх</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Стр. вверх</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>1</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>2</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>3</div></td>
<td rowspan="2"; colspan="2"; style=font-size:12;background-color:LightGrey>	Ввод </td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##82</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##83</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##84</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##86</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##87</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##88</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##89</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; '>##90</div></td>	
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12.5mm; '></div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Влево</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Вниз</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>Вправо</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>0</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:LightGrey;'>00</div></td>
<td>	<div style='overflow:hidden; width:12.5mm; height:12.5mm; font-size:12;background-color:DimGrey;'>.</div></td>
</tr>



<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12.5mm; height:1mm; '>&nbsp</div></td>
</tr>

</table></body></html>

