<html><head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<style type="text/css">
td {border-top:solid windowtext 1.0pt; border-left:solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt;}
</style>
</head>
<css>

</css>
<body>
<table border=0 cellpadding=0 cellspacing=3 style='font-size:12; font-family:"Arial"'>

<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;font-size:12;background-color:LightGrey;'>Esc</td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##265</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##266</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##267</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##268</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##269</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##270</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##271</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##272</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##273</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##274</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##275</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:7.5mm;'>##276</div></td>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##287</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##289</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##290</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##291</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##292</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##293</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##294</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##295</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##296</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##297</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##298</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##299</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##300</div></td>
</tr>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##113</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##119</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##101</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##114</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##116</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##121</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##117</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##105</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##111</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##112</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##91</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##93</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Забой</div></td>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##97</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##115</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##100</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##102</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##103</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##104</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##106</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##107</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##108</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##59</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##39</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>+</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>-</div></td>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##122</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##120</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##99</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##118</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##98</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##110</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##109</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##44</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>.</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##47</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##277</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'></div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Сброс</div></td>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>1</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>2</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>3</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>4</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>5</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>6</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>7</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>7</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>8</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>9</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Забой</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##280</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Shift</div></td>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Shift</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Tab</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Alt</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>8</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>9</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>0</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'><b>Касса</b></div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>4</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>5</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>6</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Удал.</div></td>
<td colspan="2" style='font-size:12;background-color:LightGrey;'>*</td>
</tr>
<tr align=center>
<td><div CLASS="centeralign" style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Домой</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Вверх</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Вниз</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Стр. Вверх</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>-</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>=</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'><b>Справ ка</b></div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>1</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>2</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>3</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Ctrl</div></td>
<td colspan="2" style='font-size:12;background-color:LightGrey;'>Ввод</td>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Влево</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Вниз</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Вправо</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Стр. Вниз</div></td>
<td colspan="2" style='font-size:12;background-color:LightGrey;'>Пробел</td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>Экран 3</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:DimGrey;'>0</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>00</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;'>##46</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:10.5mm;font-size:12;background-color:LightGrey;'>000</div></td>
<td colspan="2" style='font-size:12;background-color:LightGrey;'>Ввод</td>
</tr>
</table></body></html>
