<html><head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">

<style type="text/css">
td {border-top:solid windowtext 1.0pt; border-left:solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt;}

</style>

<style type="text/css">
.no-border { border: none; }
</style>

</head>
<css>

</css>
<body>
<table border=0 cellpadding=0 cellspacing=3 style='font-size:10; font-family:"Tahoma"'>



<tr align=center>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Tab	</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##265			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##293			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##294			</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:1mm;  height:11.5mm; '>&nbsp		</div></td>	
<td colspan="2">		<div style='overflow:hidden;width:17mm; height:11.5mm; '>##270		</div></td>
<td colspan="2">		<div style='overflow:hidden;width:17mm; height:11.5mm; '>##287</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##266</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##267</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##268</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>ESC Сброс</div></td>
</tr>

<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:11.5mm; '>&nbsp		</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##292			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##269			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##272			</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td colspan="2">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>7</div></td>
<td colspan="2">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>8</div></td>
<td>				<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>9</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##274			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##273			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##275			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##276			</div></td>
</tr>

<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:11.5mm; '>&nbsp		</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##97			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##98			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##99			</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td colspan="2">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>4</div></td>
<td colspan="2">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>5</div></td>
<td>				<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>6</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp		</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##289			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##288			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##271			</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Забой</div></td>
</tr>

<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:11.5mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##100</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##101</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##102</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp</div></td>
<td colspan="2">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>1</div></td>
<td colspan="2">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>2</div></td>
<td>				<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>3</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Стр. Вниз</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Вверх</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Стр. Вверх</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##290</div></td>
</tr>

<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:11.5mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##103</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##104</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; '>##105</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp</div></td>
<td colspan="4">		<div style='overflow:hidden; height:11.5mm; font-size:12; background-color:DimGrey;'>0</div></td>
<td>				<div style='overflow:hidden; width:11.5mm; height:11.5mm; font-size:12; background-color:DimGrey;'>/</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:11.5mm; '>&nbsp</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Влево</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Вниз</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Вправо</div></td>
<td>				<div style='overflow:hidden; width:17mm; height:11.5mm; font-size:12;background-color:LightGrey;'>Ввод</div></td>
</tr>

<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:1mm;  height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:7mm;  height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:6mm;  height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:11.5mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:5mm;  height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:17mm; height:1mm; '>&nbsp</div></td>
</tr>

</table></body></html>

