<html><head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">

<style type="text/css">
td {border-top:solid windowtext 1.0pt; border-left:solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt;}

</style>

<style type="text/css">
.no-border { border: none; }
</style>

</head>
<css>

</css>
<body>
<table border=0 cellpadding=0 cellspacing=3 style='font-size:10; font-family:"Tahoma"'>


<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##97</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##98</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##99</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##100</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td colspan="2">	<div style='overflow:hidden; width:22mm; height:12mm; '>##272</div></td>
<td colspan="2">	<div style='overflow:hidden; width:22mm; height:12mm; '>##296</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>	
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Esc</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##275</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Итог</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##101</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##102</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##103</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##104</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td colspan="2">	<div style='overflow:hidden; width:22mm; height:12mm; '>##292</div></td>
<td colspan="2">	<div style='overflow:hidden; width:22mm; height:12mm; '>##274</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>	
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##287</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##293</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##294</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##105</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##106</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##107</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##108</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td colspan="2">	<div style='overflow:hidden; width:22mm; height:12mm; '>##273</div></td>
<td colspan="2">	<div style='overflow:hidden; width:22mm; height:12mm; '>##263</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>	
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##266</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##267</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##268</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##109</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##110</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##111</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##112</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>7</div></td>
<td colspan="2">	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>8</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>9</div></td>
<td class='no-border'>	<div style='overflow:hidden; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##297</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##298</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##299</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##113</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##114</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##115</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##116</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>4</div></td>
<td colspan="2">	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>5</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>6</div></td>
<td class='no-border'>	<div style='overflow:hidden; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##265</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##269</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##295</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Alt</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Стр. вниз<br>M-</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Вверх<br>+</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Стр. вверх<br>M+</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>1</div></td>
<td colspan="2">	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>2</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>3</div></td>
<td class='no-border'>	<div style='overflow:hidden; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##289</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##270</div></td>
<td rowspan="2" style='font-size:12;background-color:LightGrey;>	 '>Ввод</td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Ctrl</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Влево <br>*</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Вниз<br>-</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Вправо<br>/</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:12mm; '>&nbsp</div></td>
<td colspan="3">	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>0</div></td>
<td>	<div style='overflow:hidden; height:12mm; font-size:12;background-color:DimGrey;'>.</div></td>
<td class='no-border'>	<div style='overflow:hidden; height:12mm; '>&nbsp</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; '>##271</div></td>
<td>	<div style='overflow:hidden; width:22mm; height:12mm; font-size:12;background-color:LightGrey;'>Удалить</div></td>
</tr>



<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:6mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:6mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:8mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:22mm; height:1mm; '>&nbsp</div></td>
</tr>

</table></body></html>

