<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8"> 
<TITLE></TITLE>
<STYLE type="text/css">body{font-family: Arial,"Times New Roman",arial,verdana,tahoma;margin-top:4mm;}</STYLE>
</HEAD>
<BODY>
<table style="font-size:10" border="0" cellpadding="0" cellspacing="0">
<tr>
<td style="width: 14mm;">&nbsp;</td>
<td style="width: 5mm;">&nbsp;</div></td>
<td style="width: 17mm">&nbsp;</div></td>
<td style="width: 16mm;">&nbsp;</div></td>
<td style="width: 15mm;">&nbsp;</div></td>
<td style="width: 14mm;">&nbsp;</div></td>
<td style="width: 12mm;">&nbsp;</div></td>
<td style="width: 5mm;">&nbsp;</div></td>
<td style="width: 10mm;">&nbsp;</div></td>
<td style="width: 7mm;">&nbsp;</div></td>
<td style="width: 2mm;">&nbsp;</div></td>
<td style="width: 4mm;">&nbsp;</div></td>
<td style="width: 2mm;">&nbsp;</div></td>
<td style="width: 55mm;">&nbsp;</td>
</tr>
<tr>
<td colspan=10 ALIGN=RIGHT VALIGN=CENTER COLSPAN=5><B>Унифицированная форма № КО-1</B></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td><td align=center><B><U>##15</td>
</tr>
<tr>
<td ALIGN=RIGHT COLSPAN=10>Утверждена постановлением Госкомстата</td> 
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td ALIGN=RIGHT COLSPAN=10>Росии от 18.08.98г. №88</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=8>&nbsp;</td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; border-top:solid windowtext 1.0pt;'>Коды</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td ALIGN=CENTER><B>КВИТАНЦИЯ</td>
</tr>
<tr>
<td COLSPAN=8 ALIGN=RIGHT VALIGN=CENTER>Форма по ОКУД</td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-left:solid windowtext 2.0pt; border-right:solid windowtext 2.0pt; border-top:solid windowtext 2.0pt;'>0310001</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td ALIGN=CENTER>к приходному кассовому ордеру</td>
</tr>
<tr> 
<td ALIGN=LEFT VALIGN=BOTTOM COLSPAN=6 style='border-bottom:solid windowtext 1.0pt;'><FONT SIZE=2><B>##15</B></td>
<td ALIGN=RIGHT COLSPAN=2>по ОКПО</td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-left:solid windowtext 2.0pt; border-right:solid windowtext 2.0pt; border-top:solid windowtext 1.0pt;'>32226020</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;<td ALIGN=CENTER>№ _____ от ##1</td>
</tr>
<tr>
<td ALIGN=LEFT VALIGN=BOTTOM COLSPAN=7 style='border-bottom:solid windowtext 1.0pt;'><B>&nbsp;</B></td>
<td ALIGN=RIGHT>&nbsp;</td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-left:solid windowtext 2.0pt; border-right:solid windowtext 2.0pt; border-top:solid windowtext 1.0pt;border-bottom:solid windowtext 2.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td ALIGN=CENTER>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=11>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td COLSPAM=2>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=6>&nbsp;</td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; border-top:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1>Номер<br>документа</FONT></td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-right:solid windowtext 1.0pt; border-top:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1>Дата<br>составления</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td >Принято от:<br> ##2</td>
</tr>
<tr>
<td ALIGN=RIGHT VALIGN=BOTTOM COLSPAN=5><FONT SIZE=2><B>ПРИХОДНЫЙ КАССОВЫЙ ОРДЕР  </B></FONT></td>
<td style='border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td COLSPAN=2 style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; border-top:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;'>&nbsp;</td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2 style='border-left:solid windowtext 0.0pt; border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1> ##3</FONT></td>
<td style='border-left:solid windowtext 1.0pt;' >&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td>Основание: выручка</td>
</tr>
<tr>
<td COLSPAN=6>&nbsp;</td>
<td COLSPAN=4 style='border-top:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>Сумма ##4</td>
</tr>
<tr>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt'>&nbsp;</td>
<td style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt'><FONT SIZE=4>&nbsp;</FONT></td>
<td style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt' ALIGN=CENTER  COLSPAN=3>Кредит</td>
<td style='border-top:solid windowtext 1.0pt'>&nbsp;</td>
<td style=' border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt'><FONT SIZE=4>&nbsp;</FONT></td>
<td style=' border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt' ALIGN=CENTER VALIGN=BOTTOM COLSPAN=2>Код</td>
<td style=' border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt'><FONT SIZE=2>&nbsp;</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td ROWSPAN=3 VALIGN=TOP><div style='overflow:hidden; width:55mm; height:18mm'> ##5<br>В том числе без налога(НДС)</div></td>
</tr>
<tr>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=TOP>Дебет</td>
<td style='border-right:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=CENTER>&nbsp;</td>
<td style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=CENTER>код струк-<br>турного под-<br>разделения</td>
<td style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=CENTER>корреспон-<br>дирующий<br>счет,<br>субсчет</td>
<td style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=CENTER>код<br>аналити-<br>ческого<br>учета</td>
<td style='border-right:solid windowtext 1.0pt;'ALIGN=CENTER VALIGN=TOP COLSPAN=2>Сумма,<br>руб. коп.</td>
<td style='border-right:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=TOP COLSPAN=2>целевого<br>назна-<br>чения</td>
<td style='border-right:solid windowtext 1.0pt;' ALIGN=CENTER VALIGN=TOP>&nbsp;</td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
</tr>
<tr>
<td ALIGN=CENTER VALIGN=CENTER style='border-left:solid windowtext 2.0pt; border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2>50.1</FONT></td>
<td ALIGN=CENTER VALIGN=CENTER style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2><B>&nbsp;</B></FONT></td>
<td ALIGN=CENTER VALIGN=CENTER style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2>##6</FONT></td>
<td ALIGN=CENTER VALIGN=CENTER style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2>90.1.2</FONT></td>
<td ALIGN=CENTER VALIGN=CENTER style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2><B>&nbsp;</B></FONT></td>
<td ALIGN=RIGHT VALIGN=CENTER COLSPAN=2 style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2>##7</FONT></td>
<td ALIGN=CENTER VALIGN=CENTER COLSPAN=2  style='border-right:solid windowtext 1.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2>&nbsp;</FONT></td>
<td ALIGN=CENTER  style='border-right:solid windowtext 2.0pt;border-top:solid windowtext 2.0pt; border-bottom:solid windowtext 2.0pt'><FONT SIZE=2>&nbsp;</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=11>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=11><FONT SIZE=2>Принято от ##8</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=11><FONT SIZE=2>Основание: выручка</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=11 ROWSPAN=4 VALIGN=TOP style="width: 120mm;"><FONT SIZE=2>Сумма: ##9<br>В том числе без налога(НДС)<br>Приложение:</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td ALIGN=RIGHT><FONT SIZE=2><B>##10</B></td>
</tr>
<tr>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td><FONT SIZE=2><B>М.П.(штампа)</B></td>
</tr>
<tr>
<td COLSPAN=11><FONT SIZE=2>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td ALIGN=RIGHT><FONT SIZE=2>&nbsp;</td>
</tr>
<tr>
<td COLSPAN=11><FONT SIZE=2>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td style='border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1><B>Главный бухгалтер</B></td>
</tr>
<tr>
<td COLSPAN=11><FONT SIZE=2>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td>&nbsp;</td>
<td style='border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1>##11.</td>
</tr>
<tr>
<td VALIGN=BOTTOM COLSPAN=3><FONT SIZE=2><B>Главный бухгалтер</B></FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td ALIGN=LEFT COLSPAN=4><FONT SIZE=2>##12</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td ALIGN=CENTER VALIGN=TOP><FONT SIZE=1>расшифровка подписи</FONT></td>
</tr>
<tr>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td ALIGN=CENTER VALIGN=TOP COLSPAN=2 style='border-top:solid windowtext 1.0pt;'><FONT SIZE=1>подпись</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td ALIGN=CENTER VALIGN=TOP COLSPAN=4  style='border-top:solid windowtext 1.0pt;'><FONT SIZE=1>расшифровка подписи</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td style='border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1><B>Кассир</B></FONT></td>
</tr>
<tr>
<td VALIGN=BOTTOM COLSPAN=3><FONT SIZE=2><B>Получил кассир</B></FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td ALIGN=LEFT COLSPAN=4><FONT SIZE=2>##13</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td style='border-bottom:solid windowtext 1.0pt;'><FONT SIZE=1>##14</td>
</tr>
<tr>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td ALIGN=CENTER VALIGN=TOP COLSPAN=2 style='border-top:solid windowtext 1.0pt;'><FONT SIZE=1>подпись</FONT></td>
<td><FONT SIZE=4>&nbsp;</FONT></td>
<td ALIGN=CENTER VALIGN=TOP COLSPAN=4  style='border-top:solid windowtext 1.0pt;'><FONT SIZE=1>расшифровка подписи</FONT></td>
<td>&nbsp;</td>
<td style='border-left:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt;'>&nbsp;</td>
<td BORDERCOLOR=#ffffff>&nbsp;</td>
<td ALIGN=CENTER VALIGN=TOP><FONT SIZE=1>расшифровка подписи</FONT></td>
</tr>
<tr>
<td COLSPAN=15 style='border-top:solid windowtext 1.0pt;'>&nbsp;</td>
</tr>
</table>
</BODY>
</HTML>
