<html><head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">

<style type="text/css">
td {border-top:solid windowtext 1.0pt; border-left:solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt;}

</style>

<style type="text/css">
.no-border { border: none; }
</style>

</head>
<css>

</css>
<body>
<table border=0 cellpadding=0 cellspacing=1 style='font-size:10; font-family:"Tahoma"'>
<tr align=center>                                                     
<td>    <div style='overflow:hidden; width:12mm; height:9mm;  font-size:12;background-color:LightGrey;'>Esc</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##265</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##266</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##267</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##268</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##269</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##270</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##271</div></td>	
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##272</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##273</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##275</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:9mm; '>##276</div></td>
</tr>
<tr align=center>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##287</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##289</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##290</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##291</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##292</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##293</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##294</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##295</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##296</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##297</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##299</div></td>
<td><div style='overflow:hidden; width:10.5mm; height:3.0mm;font-size:9; font-family:"Arial";'>##300</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##113</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##119</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##101</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##114</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##116</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##121</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##117</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##105</div></td>	
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##111</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##112</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##91</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##93</div></td>

</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##97</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##115</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##100</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##102</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##103</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##104</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##106</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##107</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##108</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##59</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##39</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>7</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>8</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>9</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>-</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##122</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##120</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##99</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##118</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##98</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##110</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##109</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##44</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##46</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##47</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##274</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>4</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>5</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>6</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>+</div></td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Shift</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##289</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##290</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Cash</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##292</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Стр. вниз</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Вверх</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Стр. вверх</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Забой</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##293</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>*</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>1</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>2</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>3</div></td>
<td rowspan="2"; style=font-size:12;background-color:LightGrey>	Ввод </td>
</tr>

<tr align=center>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Ctrl</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Alt</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##300</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Handbook</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##298</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Влево</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Вниз</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Вправо</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>Delete</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; '>##294</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>/</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>0</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:LightGrey;'>00</div></td>
<td>	<div style='overflow:hidden; width:12mm; height:12mm; font-size:12;background-color:DimGrey;'>.</div></td>

</tr>





<tr align=center>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>
<td class='no-border'>	<div style='overflow:hidden; width:12mm; height:1mm; '>&nbsp</div></td>

</tr>

</table></body></html>

