<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8"> 
<title></title>
<style type="text/css">
body{font-size:10; font-family: Arial,"Times New Roman",arial,verdana,tahoma;margin-top:4mm;}
table{font-size:10;border-collapse:collapse;border:solid windowtext 1.0pt;}
.even { 
    background: #C8C8C8;
    color: black;
   }
</style>
</head>
<body>
Аптеки:
<!-Units-->1,2,3,4,5
<p>
<!-Title-->Заголовок типа
<p>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
<tr align="center"><td>Поставщик</td><td>Кол-во накладных</td><td>Кол-во упаковок</td><td class="even">Розница</td><td>Закуп</td></tr>
<!-#Line-->
<tr><td>
<!-Desc-->
</td><td align="center">
<!-Total-->
</td><td nowrap align="center">
<!-Quant-->
</b></td><td align="right">
<!-Retail-->
</td><td nowrap align="right"  class="even"><b>
<!-Purchase-->
</td></tr>
<!-#LineEnd-->
<!-#EndTable-->
<!-#EndTableEnd-->
</table>
<p>
<!-Footer-->Футер типа
</body>
</html>
