<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8"> 
<title></title>
<style type="text/css">
body{font-size:8; font-family: Arial,"Times New Roman",arial,verdana,tahoma;margin-top:4mm;}
table{font-size:8;border-collapse:collapse;border:solid windowtext 1.0pt;}
</style>
</head>
<body>
Аптеки:
<!-Units-->1,2,3,4,5
<p>
<!-Title-->Заголовок типа
<p>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
<tr align="center"><td >Аптека</td><td>Входящий остаток</td><td >Исходящий остаток</td></tr>
<!-#Line-->
<tr>
<td>
<!-Desc-->
<td align="center"  nowrap>
<!-In-->
<td align="center"  nowrap>
<!-Out-->
</tr>
<!-#LineEnd-->
<!-#EndTable-->
<!-#EndTableEnd-->
</table>
<p>
<!-Footer-->Футер типа
</body>
</html>
