<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8"> 
<title></title>
<style type="text/css">
body{font-size:12; font-family: Arial,"Times New Roman",arial,verdana,tahoma;margin-top:4mm;}
table{font-size:12;border-collapse:collapse;border:solid windowtext 1.0pt;}
</style>
</head>
<body>
Аптеки:
<!-Units-->1,2,3,4,5
<p>
<!-Title-->Заголовок типа
<p>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
<tr align="center"><td rowspan="2">Аптека</td><td rowspan="2">По закупочной цене</td><td rowspan="2">По продажной цене</td>
<td colspan="3">Наценка</td><td rowspan="2">Количество покупателей</td></tr>
<tr><td>Сумма</td><td>Зак%<td>Вал%</td></tr>
<!-#Line-->
<tr>
<td>
<!-Desc-->
<td align="center"  nowrap>
<!-Purchase-->
<td align="center"  nowrap>
<!-Sale-->
<td align="center"  nowrap>
<!-Profit-->
<td align="center"  nowrap>
<!-ProfitPurchase-->
<td align="center"  nowrap>
<!-ProfitSale-->
<td align="right"  nowrap>
<!-Checks-->
</tr>
<!-#LineEnd-->
<!-#EndTable-->
<!-#EndTableEnd-->
</table>
<p>
<!-Footer-->Футер типа
</body>
</html>
