<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8"> 
<title></title>
<style type="text/css">
body{font-size:10; font-family: Arial,"Times New Roman",arial,verdana,tahoma;margin-top:4mm;}
table{font-size:10;border-collapse:collapse;border:solid windowtext 1.0pt;}
</style>
</head>
<body>
<!-Firms-->Губернский Лекарь
<p>
<!-Title-->Заголовок типа
<p>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
<!-Header--><tr><td>1</td></tr>
<!-#Line-->
<!-Line--><tr><td>sad</td></tr>
<!-#LineEnd-->
<!-#EndTable-->
<!-#EndTableEnd-->
</table>
<p>
<!-Footer-->Футер типа
</body>
</html>
