#include <winver.h>
#include <winuser.h>
#include <winnt.h>

400 PNG "../../res/icons/bookcase.png"
500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../../res/icons/bookcase.ico"


1 VERSIONINFO
FILEVERSION     0,6,4,0
PRODUCTVERSION  0,6,4,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "GLekar"
      VALUE "FileDescription", "Domino"
      VALUE "FileVersion", "0.6.4"
      VALUE "InternalName", "domino"
      VALUE "LegalCopyright", "mirror"
      VALUE "OriginalFilename", "domino.exe"
      VALUE "ProductName", "Domino"
      VALUE "ProductVersion", "0.6.4"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END